{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<ul class="terms-tags">
    {{- range .Data.Terms.ByCount }}
    <li>
        <a href="{{ partial "rel_link.html" (dict "from" $ "to" .Page.RelPermalink) }}">
            <span>{{ .Page.LinkTitle }}</span>
            <span class="term-count-badge" aria-label="{{ .Count }} posts">{{ .Count }}</span>
        </a>
        {{- with .Page.Description }}
        <span class="term-description">{{ . }}</span>
        {{- end }}
    </li>
    {{- end }}
</ul>

{{- end }}
